{% extends "home" %}
{% load static %}
{% load staticfiles %}


{% block day %}

{% endblock %}
{% block contractors %}

{% endblock %}
{% block form %}

{% endblock %}

{% block display_number %}

{% endblock %}
{% block gallery %}

{% endblock %}

{% block hello %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/img_bg_nature.jpg' %}');">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block events %}

{% endblock %}
{% block we %}

{% endblock %}

{% block service %}
        <div id="fh5co-services" class="fh5co-section-gray">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Guest</h2>
                        <p>Заполните небольшую форму. На многие пункты даны варианты ответа.</p>
                    </div>
                </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6 animate-box">
                                <form action="" method="post">{% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Save" />
                                </form>
                            </div>
                            <div class="col-md-5 col-md-pull-5 animate-box">
                                <div class="fh5co-contact-info">
                                    <h3>Краткое руководство по заполнению</h3>
                                    <ul>
                                        <li class="icon-printer">Указать имя </li>
                                        <li class="icon-printer">Указать фамилию</li>
                                        <li class="icon-email">Указать email (оповещу посредством почты, когда залью на
                                            сайт фото и видео).<br>
                                            Или указать любой (он должен содержать @ и не быть использованным другим
                                            пользователем ранее.)
                                        </li >
                                        <li class="icon-add-user"><b>PLUS ONE</b> - заполнять, если будете не один/одна.
                                            <p></p>
                                            <ol>
                                                <li><b>I will be alone</b> - Буду один</li>
                                                <li><b>Husband/Wife</b> - с женой/мужем</li>
                                                <li><b>Girl-friend/Boy-friend</b> - с девушкой/парнем</li>
                                            </ol>
                                        </li>
                                        <li class="icon-add-user"><b>First Child</b> и <b>Second Child</b> - заполнять, если планируете быть
                                            с ребенком (ну или двумя, по умолчанию будет заполнено что БЕЗ).
                                            <p></p>
                                            <ol>
                                                <li><b>0</b> - без</li>
                                                <li><b>Boy < 3</b> - мальчик до 3</li>
                                                <li><b>Girl <3</b> - девочка до 3</li>
                                                <li><b>3 < Boy < 10</b> - мальчик от 3 до 10</li>
                                                <li><b>3 < Girl < 10</b> - девочка от 3 до 10</li>
                                                <li><b>Boy > 10</b> - мальчик от 10</li>
                                                <li><b>Girl > 10</b> - девочка от 10</li>
                                            </ol>
                                        </li>
                                        <li class="icon-water"><b>Alcohol</b> - предпочтения по алкоголю.
                                            <p></p>
                                            <ol>
                                                <li><b>All</b> - Все</li>
                                                <li><b>Vodka</b> - водка</li>
                                                <li><b>Wine</b> - вино</li>
                                                <li><b>Champagne</b> - шампанское</li>
                                                <li><b>Water</b> - водичку</li>
                                            </ol>
                                        </li>
                                        <li class="icon-bowl"><b>Food</b> - еда.
                                            <p></p>
                                            <ol>
                                                <li><b>All</b> - Кушаю все</li>
                                                <li><b>I do not eat fish</b> - не ем рыбу</li>
                                                <li><b>I do not eat meet</b> - не ем мясо</li>
                                            </ol>
                                        </li>
                                        <li class="icon-umbrella"><b>Second day</b> - второй день.
                                            <p></p>
                                            <ol>
                                                <li><b>Yes</b> - Планирую остаться</li>
                                                <li><b>No</b> - Уезжам сразу после вечера</li>
                                                <li><b>1/2</b> - Полдня могли бы остаться</li>
                                                <li><b>3/4</b> - Могу/можем остаться до вечера</li>
                                            </ol>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}