<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
</head>
<body>
<div class="fh5co-loader"></div>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="{% url 'home' %}">Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/img_bg_nature.jpg' %}');">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>September 15th, 2017 Kremjanica, Belarus</h3>
					<p>We invited you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="{% static 'images/groom_0.JPG' %}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Andrei Ramanchyk</h3>
						<p>
                            Яшчэ раз запрашаю ўсiх каб раздзялiць маю радасць !!!
                        </p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{% static 'images/bride_0.jpg' %}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Natalia Koita</h3>
						<p>
                            Вот и наступил самый долгожданный день в нашей жизни, который мы хотим разделить вместе
                            с вами. Мы будет очень рады видеть вас на нашей свадьбе, которая состоится совсем скоро.
                        </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<h3>Заполните небольшую форму по <a href="{% url 'add_guest' %}">ссылке</a>.</h3>
                    <h3>Оставляйте свой email, чтобы первыми получать информацию по появившимся фотограям и видео. </h3>
				</div>
				<div class="col-md-5 col-md-pull-5 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">Minsk, <br> Belarus </li>
							<li class="phone"><a href="tel://+375298888132">+ 375 29 8888 132</a></li>
							<li class="email"><a href="mailto:a.ramanchyk@gmail.com">a.ramanchyk@gmail.com</a></li>
{#							<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>#}
                            <li class="url"><a href="https://falvarakurysia.jimdo.com">falvarakurysia.jimdo.com</a></li>
						</ul>
					</div>

				</div>
			</div>
			
		</div>
	</div>

{#	<div id="map" class="fh5co-map">#}
{#        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2398.567094772514!2d24.420822315973908!3d53.04611720485733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46df82054d6acbc7%3A0xc8474757b7fe0129!2z0KTQsNC70YzQstCw0YDQsNC6ICLQoyDQoNCr0KHQryI!5e0!3m2!1sru!2sru!4v1503343525221" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#    </div>#}
		<!-- END map -->
        <div id="map" class="fh5co-map">
{#            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2398.567094772514!2d24.420822315973908!3d53.04611720485733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46df82054d6acbc7%3A0xc8474757b7fe0129!2z0KTQsNC70YzQstCw0YDQsNC6ICLQoyDQoNCr0KHQryI!5e0!3m2!1sru!2sru!4v1503343525221" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>#}
        </div>
	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 15 September 2017</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Google Map -->
{#	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>#}
{#	<script src="https://www.google.ru/maps/place/%D0%A4%D0%B0%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%D0%B0%D0%BA+%22%D0%A3+%D0%A0%D0%AB%D0%A1%D0%AF%22/@53.0461172,24.4208223,17z/data=!4m12!1m6!3m5!1s0x46df82054d6acbc7:0xc8474757b7fe0129!2z0KTQsNC70YzQstCw0YDQsNC6ICLQoyDQoNCr0KHQryI!8m2!3d53.046114!4d24.423011!3m4!1s0x46df82054d6acbc7:0xc8474757b7fe0129!8m2!3d53.046114!4d24.423011?hl=ru"></script>#}
{#    <script src="{% static 'js/google_map.js' %}"></script>#}

    <script>
      function initMap() {
        var uluru = {lat: 53.046114, lng: 24.423011};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoWugNpbBdgCEgC2LOJdovuez5qtV2Q00&callback=initMap">
    </script>

	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>