{% extends "home" %}
{% load static %}
{% load staticfiles %}


{% block day %}

{% endblock %}
{% block contractors %}

{% endblock %}
{% block form %}

{% endblock %}

{% block display_number %}

{% endblock %}
{% block gallery %}

{% endblock %}
{% block hello %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/img_bg_nature.jpg' %}');">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Где переначевать?</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block events %}

{% endblock %}
