{% extends "home" %}
{% load static %}
{% load staticfiles %}


{% block day %}

{% endblock %}
{% block contractors %}

{% endblock %}
{% block form %}

{% endblock %}

{% block display_number %}

{% endblock %}
{% block gallery %}

{% endblock %}

{% block hello %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/img_bg_nature.jpg' %}');">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Night</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block events %}

{% endblock %}
{% block we %}

{% endblock %}

{% block service %}
        <div id="fh5co-services" class="fh5co-section-gray">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Overnight</h2>
                        <p>Общая информация по ночлегу.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon"><i class="icon-calendar"></i></span>
                            <div class="feature-copy">
                                <h3>Ночевка</h3>
                                <p>
                                    Организовываем ночлег на фальварке и у родителей, родственников (возможно) дома.
                                    Кто хочет остаться на фальварке сообщите заранее лично.
                                </p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon"><i class="icon-image"></i></span>
						<div class="feature-copy">
							<h3>Транспорт домой</h3>
							<p>
                                После конца праздничного вечера приедут два буса, которые будут ехать через Волковыск в Ялуцевичи и Деркачи.
                                Один и микроавтобусов - до Зельвы.
                            </p>
                        </div>
                        </div>

                    </div>

                    <div class="col-md-6 animate-box">
                        <div class="fh5co-video fh5co-bg" style="background-image: url({% static 'images/img_bg_3_night.jpg' %}); ">
                            <a href="https://www.youtube.com/watch?v=phVQZrb2AdA" class="popup-vimeo"><i class="icon-video2"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}