{% extends "home" %}
{% load static %}
{% load staticfiles %}


{% block day %}

{% endblock %}
{% block contractors %}

{% endblock %}
{% block form %}

{% endblock %}

{% block display_number %}

{% endblock %}
{% block gallery %}

{% endblock %}

{% block hello %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('{% static 'images/img_bg_nature.jpg' %}');">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Transport</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block events %}

{% endblock %}
{% block we %}

{% endblock %}

{% block service %}
        <div id="fh5co-services" class="fh5co-section-gray">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Transport</h2>
                        <p>Информация по транспорту.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon"><i class="icon-calendar"></i></span>
                            <div class="feature-copy">
                                <h3>От Ялуцевич до кастела</h3>
                                <p>
                                    После 14:00 с Ялуцевич на двух бусах и нескольких машинах выезжаем к кастелу.
                                    Кто хочет тот едет на своем авто.
                                </p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon"><i class="icon-calendar"></i></span>
                            <div class="feature-copy">
                                <h3>От кастел до фальварка</h3>
                                <p>
                                    После кастела те же бусы завезут до фальварка. Будет возможность кого-то подобрать
                                    из тех кто будет опаздывать, или оставить авто дома по пути.
                                </p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon"><i class="icon-calendar"></i></span>
                            <div class="feature-copy">
                                <h3>С фальварка</h3>
                                <p>
                                    После конца праздничного вечера приедут два буса, которые будут ехать через Волковыск в Ялуцевичи и Деркачи.
                                    Один и микроавтобусов - до Зельвы.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 animate-box">
                        <div class="fh5co-video fh5co-bg" style="background-image: url({% static 'images/img_bg_3_fountain.jpg' %}); ">
                            <a href="https://www.youtube.com/watch?v=1d6QqjiqsRE" class="popup-vimeo"><i class="icon-video2"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}